<?xml version="1.0"?>
<!-- root -->
<settings>
    <!--  short description of the widget -->
	<about>A template and help for developing widgets</about>
    <!-- version of widget-->
	<version>1.0</version>
    <!-- link to website -->
	<link>none</link>
    <!-- name of author -->
	<author>Fredrik Johansson</author>
    <!-- icon to widget relative to main widget folder (can be left empty and a generic icon will be loaded) -->
	<icon>help-desk-icon.png</icon>
    <!-- title of widget; will be placed under icon (can be left empty) -->
    <icon_title>Widget Template</icon_title>
    <!-- namespace of widget (namespace = javascript object) -->
    <widget_object>templateWidget</widget_object>
    <!--
        list of files to be loaded relative to main folder of widgets
        (theese files will be loaded upon project start)
        
        valid types are; javascript, css
    -->
	<load>
		<file type="javascript">js/template.js</file>
	</load>
</settings>