/* @override 
	http://localhost/~geekie/OPP/trunk/webbklient/system/application/widgets/widget_handler/css/widgethandler.css
	http://localhost/~Geekie/OPP/trunk/webbklient/system/application/widgets/widget_handler/css/widgethandler.css
	http://127.0.0.1/~Geekie/OPP/webbklient/system/application/widgets/widget_handler/css/widgethandler.css
*/

#available_widgets_box {
	width: 45%;
	float: left;
	padding-left: 1%;
}

#available_widgets_box ul {
	display: inline;
	text-align: center
}

#available_widgets_box li {
	float: left;
	width: 120px;
	height: 90px;
	list-style-type: none;
	padding-top: 5px;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border: 1px solid #424242;
	background-color: #f4f4f4;
	text-align: center;
	font-size: 0.9em;
}

.widget_handler_instance_name {
	font-weight: bold;
	padding-left: 5px;
}

#available_widgets_box li:hover {
	background-color: #eaeaea
}

#your_widgets_box {
	width: 45%;
	float: left;
	border-left: 1px solid #aaa;
	padding-left: 3%;
	margin-left: 3%;
}

#your_widgets_box ul {
	text-align: center;
	display: inline
}

#your_widgets_box li {
	width: 100%;
	height:50px;
	padding-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	list-style-type: none;
	border: 1px solid #424242;
	background-color: #f4f4f4;
	text-align: left;
	padding-left: 6px;
}

input.widgets_handler_formbutton {
	float: right;
	margin-top: -25px;
	margin-right: 10px;
}

#available_widgets_box ul a {
	text-decoration: none
}

#your_widgets_box li:hover {
	background-color: #eaeaea
}