/* @override 
	http://localhost/~Geekie/OPP/trunk/webbklient/css/default/style.css
	http://localhost/~geekie/OPP/trunk/webbklient/css/default/style.css
*/

/* @group User */


/* @end */

/* @group Project */

#topbarbuttonwrapper {
	width:500px;
	float: right;
	margin-right: 210px;
	color: #efefef;
	font-weight: bold;
}

#projectdropdown {
	position: absolute;
	margin:auto;
	width: 150px;
	margin-top:0px;
	display:inline;
	text-align: left;
	float: right;
	right: 73px;
}

#projectdropdown ul .item {
	display:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top:10px;
}

#projectdropdown ul:hover .item { 
	display:block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#projectdropdown ul:hover .item a {
	color:#fff;
	text-decoration:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#projectdropdown ul:hover .item a:hover {
	color: #929292;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#projectdropdown ul {
	width:210px;
	height: 20px;
	list-style:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 10px;
	background: #5e5e5e url(../../images/buttons/dropdown.png) no-repeat;
	font-size: 11.5px;
	padding-top: 6px;
	margin-top: 7px;
}

#projectdropdown ul:hover {
	height: auto;
	
}

#projectlisting {
	margin-left: auto;
	margin-right: auto;
	width: 870px;
	height: 200px;
}

.newprojectbox {
	padding: 5px;
	height: 84px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	width: 180px;
	background: url(../../images/backgrounds/new-project-listing-background.png) repeat-x;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.9em;
	padding-top:10px;
	color: #000;
	text-decoration: none;
}

.acceptinvitationbox {
	padding: 5px;
	height: 84px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	width: 180px;
	background: url(../../images/backgrounds/new-project-listing-background.png) repeat-x;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.9em;
	padding-top:10px;
	color: #000;
	text-decoration: none;
}

.projectbox {
	padding: 5px;
	height: 84px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	width: 180px;
	background: url(../../images/backgrounds/project-listing-background.png) repeat-x;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.9em;
	padding-top:10px;
        text-decoration: none;
        color:#000;
	display: block;
}

b.new_project_title {
	text-align: center;
	position: relative;
	bottom: 37px;
}

b.accept_project_title {
	text-align: center;
	position: relative;
	bottom: 37px;
}

.projectplus {
	min-height: 40px;
	width:40px;
	background: url(../../images/backgrounds/plus.png) repeat-x;
	position: relative;
	right: 30px;
	bottom: 43px;
}

a.projectbox:active, a.projectbox:visited, a.projectbox:hover {
    color:#000;    
    text-decoration: none;
}

/* @end */

/* @group Default */

/* @group Messages */

div.error, div.ok  { 
    padding-left: 40px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding-top: 10px;
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    min-height:32px;    
}

div.error {
	background: #f8fdda url(../../images/backgrounds/erroricon.png) no-repeat;
    border: 2px solid #e61913;
}

div.ok {
    background: #f8fdda url(../../images/backgrounds/okicon.png) no-repeat;
    border: 2px solid #1ca10e;
}

div.widget_status {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

label.error {
	float:none;
	display:inline;
	color:red;
}

/* @end */

/* @group Headers */

h3 {
    font-size:12pt; 
    font-weight:bold;
}

h1 {
    font-size:16pt;
    margin-top: 5px;
}

h2, h3 {
	margin-top: 0px;
    font-size:13pt;
}

/* @end */

/* @group The general box */

#leftboxwide {
	margin-left: 10px;
	width: 390px;
	border-right: 1px solid #5e5e5e;
	float: left;
	padding-right: 10px;
}

#leftbox {
	margin-left: 10px;
	width: 300px;
	border-right: 1px solid #5e5e5e;
	float: left;
}

#rightbox {
	margin-left: 20px;
	float: left;
	width: 480px;	
}

h1.blackheader {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color: #000;
	color: #FFF;
	width: 920px;
	margin-left: auto;
	margin-right:auto;
	font-size: 1.3em;
	padding: 10px;
	margin-top:30px;
}



/* @end */

/* @group Links */

a img {
	border: 0;
}

#topbarbuttonwrapper a img {
	padding-left: 5px;
	padding-right: 5px;
	
}

a {
	color: #008e29;
}

a:hover {
	text-decoration: none;
}

.small_links {
	font-size: 13px;
}

a.register {
	margin-left: 20px;
	color: #eaeaea;
	text-decoration: none;
	background-color: #008e29;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #797979;
}

a.register:hover {
	background-color: #eaeaea;
	color: #008d29;
}

/* @end */

/* @group Forms */

input[type=text], input[type=password] {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	height: 20px;
	margin-bottom:10px;
	border: 1px solid #797979;
	color: #424242;
	font-weight: bold;
	padding-left: 5px;
}

p.textarea {
	vertical-align: top;
}

input[type=submit], input[type=button] {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #797979;
	padding: 5px;
	background-color: #d5d5d5;
	font-weight: bold;
}

textarea {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-bottom:10px;
	border: 1px solid #797979;
	color: #424242;
	font-weight: bold;
	padding-left: 5px;
	margin-right: 5px;
	float: left;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	background-color: #eaeaea;
}

#registerform label {
    width: 120px;
}

form label {
    display: block;
    width: 100px;
    float: left;
    margin: 2px 4px 6px 0px;
    text-align: left;
}

p.forgotpassword {
	margin-top: 10px;
	margin-left: 0px;
}

#contentboxwrapper {
	margin-left:auto;
	margin-right:auto;
	width: 920px;
}

/* @end */

ul {
	list-style-type: square;
	margin-top: 0px;
	padding-top: 0px;
}

.topbuttons {
	text-align:right;
	padding: 5px 20px;
}

.topbuttons a {
	text-decoration: none;
}

#useredit {
	color: #fffeff;
	font-weight: bold;
	float: right;
	margin-top: 10px;
	padding-right: 15px;
}

#topbarimages {
	float: right;
	margin-top:6px;
}


span.sitetitle {
    float:left;
    color:#fafafa;
    font-size:18pt;
    font-weight:bold;    
    padding: 7px;
}

span.sitetitle a {
    color:#fafafa;
    text-decoration:none;    
}

span.sitetitle a:visited, span.sitetitle a:active {
    text-decoration:none;
    color:#fafafa;    
}

span.sitetitle a:hover {
    text-decoration:underline;    
}

#wrapper {
    height:100%;
    width:100%;
    z-index: 1;
}

#desktop, #content {
    z-index: 2;
    margin-left:10px;
    margin-right: 10px;
}

#innercontent {
    padding:15px;
    z-index: 3;
}

#topbar {
    width: 100%;
    height: 50px;
    background-color: #000;
    margin: 0px;
    padding: 0px;
    z-index: 3;
}

body, html {
    height: 100%;
    width: 100%;
	font-size: 14px;
	margin: 0px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

	
/* @end */

div#fullpage_overlay {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color:#777;
    display: none;
    z-index: 3998; /* jquery window has z-index 2000 */
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

/* @group javascript popup messages */
div#message {
    position:absolute;
    left:0;
    top:-125px;
    margin: 0 auto;    
    padding:10px;
    width: 500px;
    height: 100px;
    display: none;
    z-index: 3999;
    border:2px solid #b9b9b9;
}

div#message.ok {
    background-color:#22d922;     
}

div#message.error {
    background-color:#d92222;     
}
/* @end */ 

/* @group Widgets */
.widget_listening {
	float: left;
	margin:0px 15px 0px 15px;
	text-align: center;
	font-weight: bold;
	color: #424242;
}

div#widget_bar {
    padding: 5px;
    height: 85px;
    background: url(../../images/backgrounds/widget-bar-background.png) repeat-x;
    z-index: 3; 
}

div#widget_bar div.icon {
    margin:0px 15px 0px 15px;
    float:left;
    font-size:10pt;
    font-weight:bold;
    text-align:center;
}

/* @end */

/* @group desktop debug messages */

#debug_widget_messages {
    padding: 5px;    
}

#debug_widget_messages p {
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
}

#debug_widget_messages .debug_timestamp {
    font-size:10pt;    
}

/* @end */

/* @group desktop remote */

#desktop_remote_wrapper {
    background: transparent;
    width: 100%;
    height: 31px;
    /*z-index: 5000;
    position: relative;
    margin: 0px;
    margin-top: -20px;*/
    margin: 0px;
    padding: 0px;
    }

#desktop_remote_wrapper span.donotdisplay {
    display: none;
    }

#desktop_remote {
    background: transparent;
    width: 80px;
    margin: auto;
    padding: 0px;
    }

#desktop_remote span.dektop_remote_object {
    background: #000000;
    width: 35px;
    height: 30px;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    }

#desktop_remote span#single_up {
    background: url(../../images/backgrounds/single_up.png) top left no-repeat;
    margin-right: 10px;
    }

#desktop_remote span#single_down {
    background: url(../../images/backgrounds/single_down.png) top left no-repeat;
    margin-right: 10px;
    }

#desktop_remote span#double_up {
    background: url(../../images/backgrounds/double_up.png) top left no-repeat;
    }

#desktop_remote span#double_down {
    background: url(../../images/backgrounds/double_down.png) top left no-repeat;
    }

#desktop_remote span#single_up:hover, #desktop_remote span#single_down:hover, #desktop_remote span#double_up:hover, #desktop_remote span#double_down:hover {
    background-position: 0px -30px;
    }

#desktop_remote_clear {
    background: #CCCCCC;
    width: 100%;
    height: 1px;
    clear: left;
    margin: 0px;
    padding: 0px;
    }

/* @end */