body, html {
    height: 100%;
    width: 100%;
	font-size: 14px;
	margin: 0px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        margin: 0px;
        padding: 0px;
}

/* @group Topbar */

#topbar {
    background-color: #000;
    width: 100%;
    min-width: 900px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: 3;
    }

span.sitetitle {
    color:#fafafa;
    width: auto;
    float:left;
    font-size:18pt;
    font-weight:bold;
    padding: 7px;
    }

span.sitetitle a {
    color:#fafafa;
    text-decoration:none;
    }

span.sitetitle a:visited, span.sitetitle a:active {
    text-decoration:none;
    color:#fafafa;
    }

span.sitetitle a:hover {
    text-decoration:underline;
    }

#topbarbuttonwrapper {
    color: #efefef;
    width:auto;
    float: right;
    font-weight: bold;
    padding-top: 5px;
    }

#topbarbuttonwrapper a {
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    }

#topbarbuttonwrapper a img {
    margin: 0px;
    padding: 0px;
    }

#topbarimages {
    float: left;
    margin-top:6px;
    }

#projectdropdown {
    width: 220px;
    float: right;
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 20px;
    }

#projectdropdown ul {
    background: #5e5e5e url(../../images/buttons/dropdown.png) no-repeat;
    position: absolute;
    width: 210px;
    height: 20px;
    list-style: none;
    font-size: 11.5px;
    padding: 0px;
    padding-top: 6px;
    padding-left: 10px;
    margin: 0px;
    margin-top: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }

#projectdropdown ul:hover {
    height: auto;
    padding-bottom: 10px;
    }

#projectdropdown ul .item {
    display:none;
    }

#projectdropdown ul:hover .item {
    display: block;
    padding: 0px;
    padding-top: 10px;
    }

#projectdropdown ul:hover .item a {
    color:#fff;
    text-decoration:none;
    margin: 0px;
    padding: 0px;
    }

#projectdropdown ul:hover .item a:hover {
    color: #929292;
    }

/* @end */

/* @group Widgets */

#widget_bar {
    background: #EEEEEE;
    color: #000000;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 3;
    overflow: hidden;
    }

#widget_bar .icon_container {
    background: transparent;
    width: 100000px;
    margin: 0px;
    padding: 0px;
    }

#widget_bar .icon_wrapper {
    background: transparent;
    width: auto;
    margin: 0px;
    padding: 0px;
    }

#widget_bar .icon_container .icon_wrapper .icon {
    width: 100px;
    float:left;
    text-align:center;
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    }

#widget_bar .icon_container .icon_wrapper .icon a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    }

#widget_bar .icon_container .icon_wrapper .icon a img {
    width: 48px;
    height: 48px;
    margin: 0px;
    padding: 10px;
    }

#widget_bar .icon_container .icon_wrapper .icon p {
    color: #000000;
    width: 100px;
    font-size: 11px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    }
.widget_window {
	height:100%;
}
/* @end */

/* @group Project */

#projectlisting {
	margin-left: auto;
	margin-right: auto;
	width: 870px;
	height: 200px;
}

.newprojectbox {
	padding: 5px;
	height: 84px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	width: 180px;
	background: url(../../images/backgrounds/new-project-listing-background.png) repeat-x;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.9em;
	padding-top:10px;
	color: #000;
	text-decoration: none;
}

.acceptinvitationbox {
	padding: 5px;
	height: 84px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	width: 180px;
	background: url(../../images/backgrounds/new-project-listing-background.png) repeat-x;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.9em;
	padding-top:10px;
	color: #000;
	text-decoration: none;
}

.projectbox {
	padding: 5px;
	height: 84px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	width: 180px;
	background: url(../../images/backgrounds/project-listing-background.png) repeat-x;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.9em;
	padding-top:10px;
        text-decoration: none;
        color:#000;
	display: block;
}

b.new_project_title {
	text-align: center;
	position: relative;
	bottom: 37px;
}

b.accept_project_title {
	text-align: center;
	position: relative;
	bottom: 37px;
}

.projectplus {
	min-height: 40px;
	width:40px;
	background: url(../../images/backgrounds/plus.png) repeat-x;
	position: relative;
	right: 30px;
	bottom: 43px;
}

a.projectbox:active, a.projectbox:visited, a.projectbox:hover {
    color:#000;    
    text-decoration: none;
}

/* @end */

/* @group Default */

/* @group Messages */

div.error, div.ok  { 
    padding-left: 40px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding-top: 10px;
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    min-height:32px;    
}

div.error {
	background: #f8fdda url(../../images/backgrounds/erroricon.png) no-repeat;
    border: 2px solid #e61913;
}

div.ok {
    background: #f8fdda url(../../images/backgrounds/okicon.png) no-repeat;
    border: 2px solid #1ca10e;
}

div.widget_status {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

label.error {
	float:none;
	display:inline;
	color:red;
}

/* @end */

/* @group Headers */

h3 {
    font-size:12pt; 
    font-weight:bold;
}

h1 {
    font-size:16pt;
    margin-top: 5px;
}

h2, h3 {
	margin-top: 0px;
    font-size:13pt;
}

/* @end */

/* @group The general box */

#leftboxwide {
	margin-left: 10px;
	width: 390px;
	border-right: 1px solid #5e5e5e;
	float: left;
	padding-right: 10px;
}

#leftbox {
	margin-left: 10px;
	width: 300px;
	border-right: 1px solid #5e5e5e;
	float: left;
}

#rightbox {
	margin-left: 20px;
	float: left;
	width: 480px;	
}

h1.blackheader {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color: #000;
	color: #FFF;
	width: 920px;
	margin-left: auto;
	margin-right:auto;
	font-size: 1.3em;
	padding: 10px;
	margin-top:30px;
}



/* @end */

/* @group Links */

a img {
	border: 0;
}

a {
	color: #008e29;
}

a:hover {
	text-decoration: none;
}

.small_links {
	font-size: 13px;
}

a.register {
	margin-left: 20px;
	color: #eaeaea;
	text-decoration: none;
	background-color: #008e29;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #797979;
}

a.register:hover {
	background-color: #eaeaea;
	color: #008d29;
}

/* @end */

/* @group Forms */

input[type=text], input[type=password] {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	height: 20px;
	margin-bottom:10px;
	border: 1px solid #797979;
	color: #424242;
	font-weight: bold;
	padding-left: 5px;
}

p.textarea {
	vertical-align: top;
}

input[type=submit], input[type=button] {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #797979;
	padding: 5px;
	background-color: #d5d5d5;
	font-weight: bold;
}

textarea {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-bottom:10px;
	border: 1px solid #797979;
	color: #424242;
	font-weight: bold;
	padding-left: 5px;
	margin-right: 5px;
	float: left;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	background-color: #eaeaea;
}

#registerform label {
    width: 120px;
}

form label {
    display: block;
    width: 100px;
    float: left;
    margin: 2px 4px 6px 0px;
    text-align: left;
}

p.forgotpassword {
	margin-top: 10px;
	margin-left: 0px;
}

#contentboxwrapper {
	margin-left:auto;
	margin-right:auto;
	width: 920px;
}

/* @end */

ul {
	list-style-type: square;
	margin-top: 0px;
	padding-top: 0px;
}

#useredit {
	color: #fffeff;
	font-weight: bold;
	float: right;
	margin-top: 10px;
	padding-right: 15px;
}

#wrapper {
    height:100%;
    width:100%;
    z-index: 1;
}

#content {
    z-index: 2;
    margin-left:10px;
    margin-right: 10px;
}

#desktop {
    z-index: 2;
    margin: 10px;
}

#innercontent {
    padding:15px;
    z-index: 3;
}

	
/* @end */

div#fullpage_overlay {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color:#777;
    display: none;
    z-index: 3998; /* jquery window has z-index 2000 */
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    
}

/* @group javascript popup messages */
div#message {
    position:absolute;
    left:0;
   	margin-top: 20px;
    width: 500px;
    height: 100px;
    display: none;
    z-index: 3999;
    border:2px solid #b9b9b9;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

div#message.ok {
    background-color:#22d922;     
}

div#message.error {
    background-color:#d92222;     
}
/* @end */ 


/* @group desktop debug messages */

#debug_widget_messages {
    padding: 5px;    
}

#debug_widget_messages p {
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
}

#debug_widget_messages .debug_timestamp {
    font-size:10pt;    
}

/* @end */

/* @group desktop remote */

#desktop_remote_wrapper {
    background: transparent;
    width: 45px;
    height: 80px;
    z-index: 5000;
    top: 230px;
    left: 0px;
    position: fixed;
    margin: 0px;
    padding: 0px;
    }

#desktop_remote_wrapper span.donotdisplay {
    display: none;
    }

#desktop_remote {
    background: transparent;
    width: 45px;
    margin: auto;
    padding: 0px;
    }

#desktop_remote span.dektop_remote_object {
    background: transparent;
    width: 45px;
    height: 35px;
    display: block;
    margin: 0px;
    margin-left: -30px;
    padding: 0px;
    cursor: pointer;
    }

#desktop_remote span.dektop_remote_object:hover {
    margin-left: 0px;
    }

#desktop_remote span#single_up {
    background: url(../../images/backgrounds/single_up.png) top left no-repeat;
    }

#desktop_remote span#single_down {
    background: url(../../images/backgrounds/single_down.png) top left no-repeat;
    }

#desktop_remote span#double_up {
    background: url(../../images/backgrounds/double_up.png) top left no-repeat;
    margin-top: 10px;
    }

#desktop_remote span#double_down {
    background: url(../../images/backgrounds/double_down.png) top left no-repeat;
    margin-top: 10px;
    }

#desktop_remote span#single_up:hover, #desktop_remote span#single_down:hover, #desktop_remote span#double_up:hover, #desktop_remote span#double_down:hover {
    background-position: 0px -35px;
    }

/* @end */
