
body {
    font-size: 12px;
    font-family: Arial,Helvetica, sans-serif;
}
#ape_message_container a {
    outline: medium none;
}
#more, #ape_container {
    padding: 10px;
    width: 500px;
    background-color: #cccccc;
}
#ape_container {
}
#ape_sendbox_container {
    width: 300px;
}
#ape_sendbox {
    height: 38px;
    width: 100%;
    border: solid 1px #898989;
    background-color: #ffffff;
    -moz-border-radius: 6px;
}
#tabbox_container {
    margin: -25px 0 0 5px;
    position: absolute;
    width: 525px;
}
#sendbox_input {
    border: medium none;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    width: 280px;
    height: 26px;
    background-color: #ffffff;
}
#sendbox_button {
    display: none;
}
.ape_users_list {
    height: auto;
    margin-left: 10px;
    overflow: auto;
    padding-top: 5px;
    width: 180px;
    background-color: #ffffff;
    -moz-border-radius: 7px;
    border: solid 2px #A7A7A7;
}
.users_right {
}
.ape_users_list .ape_user {
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 15px;
    width: 133px;
}
.ape_users_list .ape_user a {
    color: #000000 !important;
    text-decoration: none;
}
.ape_none {
    display: none;
}
.ape_pipe {
    height: 385px;
    width: 100%;
}
.ape_messages {
    float: left;
    height: 358px;
    overflow-x: hidden;
    margin-right: 13px;
    width: 300px;
}
.msg_top {
}
.ape_message {
    padding-left: 10px;
	padding-bottom: 2px;
}
.ape_message_container .ape_user {
    margin-bottom: 4px;
    background-color: #D7D7EC;
    padding: 3px;
    -moz-border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    padding-left: 5px;
}
.ape_message_container .ape_user a {
    color: #656F7C;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.msg_bot {
    height: 8px;
}
.ape_message_container {
    margin-top: 5px;
    position: relative !important;
    white-space: normal;
    width: 300px;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    height: auto;
}
.ape_tab a {
    color: #545454;
    font-size: 12px;
    text-decoration: none;
}
.ape_tab.new_message {
    font-weight: bold;
}
.ape_tab {
    background: none repeat scroll 0 0 #E9EBED;
    border-color: #BBBDBE #BBBDBE -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    height: 23px;
    line-height: 20px;
    margin-top: 1px;
    padding: 0 8px;
}
.ape_tab.unactive {
    border-bottom: 0 none;
    height: 21px;
    margin-top: 2px;
}
.ape_name_prompt {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #D4E1EB;
    color: #000000;
    font-size: 14px;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 700px;
}
.ape_name_prompt input.submit {
    border: 1px solid #DDDDDD;
    margin-left: 15px;
}
.ape_name_prompt input.text {
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    text-align: center;
    width: 180px;
}

