<?xml version="1.0"?>
<settings>
	<about>A simple browser</about>
	<version>1.0</version>
	<link>none</link>
	<author>Fredrik Johansson</author>
	<icon>internet-browser-icon.png</icon>
    <icon_title>Simple browser</icon_title>
    <widget_object>browserWidget</widget_object>
    <widget_startfunction>openBrowser</widget_startfunction>
	<load>
		<file type="javascript">js/widget-browser.js</file>
	</load>
</settings>