html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    }

body {
    background: #FFFFFF;
    color: #333333;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    margin: 0px;
    padding: 0px;
    }

/* @group Headers */

h1 {
    background: transparent;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    }

h1.contentheader {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: #DDDDDD solid 1px;
    }

h2, h3 {
    background: transparent;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    margin: 0px;
    padding: 0px;
    }

/* @end */

/* @group Paragraphs */

#content p {
    background: transparent;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    }

/* @end */

/* @group Links */

a img {
    background: transparent;
    margin: 0px;
    padding: 0px;
    border: none;
    }

a {
    background: transparent;
    color: #008E29;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }

.small_links {
    font-size: 0.8em;
    }

/* @end */

/* @group Topbar */

#topbar {
    background: #333333;
    width: 100%;
    min-width: 940px;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 3;
    }

#topbar h1 {
    background: transparent;
    color: #FFFFFF;
    width: auto;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 5px;
    }

#topbar h1 a {
    background: transparent;
    color: #FFFFFF;
    text-decoration: none;
    }

#topbar h1 span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.4em;
    padding-left: 5px;
    vertical-align: super;
    }

#topbarbuttonwrapper {
    background: transparent;
    color: #FFFFFF;
    width: auto;
    float: right;
    margin: 0px;
    padding: 0px;
    }

#topbarmenu {
    background: transparent;
    color: #FFFFFF;
    width: auto;
    float: left;
    margin: 0px;
    padding: 0px;
    }

#topbarmenu ul {
    background: transparent;
    color: #FFFFFF;
    width: auto;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    }

#topbarmenu ul li {
    background: transparent;
    color: #FFFFFF;
    width: auto;
    float: left;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
    }

#topbarmenu ul li p {
    background: transparent;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times,  sans-serif;
    font-size: 0.7em;
    font-style: italic;
    letter-spacing: 0.1em;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    }

#topbarmenu ul li p a {
    background: transparent;
    color: #FFFFFF;
    text-decoration: none;
    }

#topbarmenu ul li p a:hover {
    background: transparent;
    color: #FFFFFF;
    text-decoration: underline;
    }

#topbarmenu ul li a.button {
    background: #008E29;
    color: #FFFFFF;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    margin: 0px;
    padding: 10px;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-border-radius : 0.4em;
    text-decoration: none;
    }

#topbarmenu ul li a.register {
    margin-right: 15px;
    }

#topbarmenu ul li a.home {
    background: #008E29 url(../../images/backgrounds/home_icon_16.png) 10px 9px no-repeat;
    padding-left: 36px;
    }

#topbarmenu ul li a.home:hover {
    background: #666666 url(../../images/backgrounds/home_icon_16.png) 10px 9px no-repeat;
    }

#topbarmenu ul li a.profile {
    background: #008E29 url(../../images/backgrounds/profile_icon_16.png) 10px 9px no-repeat;
    padding-left: 36px;
    }

#topbarmenu ul li a.profile:hover {
    background: #666666 url(../../images/backgrounds/profile_icon_16.png) 10px 9px no-repeat;
    }

#topbarmenu ul li a.logout {
    background: #008E29 url(../../images/backgrounds/logout_icon_16.png) 10px 9px no-repeat;
    padding-left: 36px;
    }

#topbarmenu ul li a.logout:hover {
    background: #666666 url(../../images/backgrounds/logout_icon_16.png) 10px 9px no-repeat;
    }

#topbarmenu ul li a:hover {
    background: #666666;
    color: #FFFFFF;
    text-decoration: none;
    }

#projectdropdown {
    background: transparent;
    color: #FFFFFF;
    width: 220px;
    float: right;
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
    padding-left: 15px;
    }

#projectdropdown ul {
    background: transparent;
    color: #FFFFFF;
    width: 220px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    list-style: none;
    }

#projectdropdown ul li {
    background: transparent;
    color: #FFFFFF;
    width: 220px;
    margin: 0px;
    padding: 0px;
    }

#projectdropdown ul li p {
    background: #666666 url(../../images/backgrounds/inject_icon_16.png) 194px 9px no-repeat;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    margin: 0px;
    padding: 10px;
    -moz-border-radius-topleft: 0.4em;
    -moz-border-radius-topright: 0.4em;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    -webkit-border-radius-topleft : 0.4em;
    -webkit-border-radius-topright : 0.4em;
    }

#projectdropdown ul li a {
    background: #666666;
    color: #FFFFFF;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    border-top: #333333 solid 1px;
    }

#projectdropdown ul li a:hover {
    background: #666666;
    color: #FFFFFF;
    text-decoration: underline;
    }

#projectdropdown ul li.item {
    display:none;
    }

#projectdropdown ul:hover li.item {
    display: block;
    }

/* @end */

/* @group Widgets */

#widget_bar {
    background: #FFFFFF url(../../images/backgrounds/widget-bar-background.png) top center repeat-x;
    color: #333333;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 3;
    overflow: hidden;
    border-bottom: #DDDDDD solid 1px;
    }

#widget_bar .icon_container {
    background: transparent;
    width: 100000px;
    margin: 0px;
    padding: 0px;
    }

#widget_bar .icon_wrapper {
    background: transparent;
    width: auto;
    margin: 0px;
    padding: 0px;
    }

#widget_bar .icon_container .icon_wrapper .icon {
    width: 100px;
    float:left;
    text-align:center;
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    }

#widget_bar .icon_container .icon_wrapper .icon a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    }

#widget_bar .icon_container .icon_wrapper .icon a img {
    width: 48px;
    height: 48px;
    margin: 0px;
    padding: 10px;
    }

#widget_bar .icon_container .icon_wrapper .icon p {
    color: #000000;
    width: 100px;
    font-size: 11px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    }

.widget_window {
    height:100%;
    }

/* @end */

/* @group Containers */

#wrapper {
    background: transparent;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    }

#content {
    background: transparent;
    width: 940px;
    margin: auto;
    margin-top: 40px;
    padding: 0px;
    padding-bottom: 20px;
    z-index: 2;
    }

#projectlisting {
    background: transparent;
    width: 940px;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    }

#contentboxwrapper {
    background: transparent;
    width: 940px;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    }

#desktop {
    background: transparent;
    margin: 10px;
    padding: 0px;
    z-index: 2;
    }

/* @end */

/* @group The general boxes */

#leftbox {
    background: transparent;
    width: 410px;
    float: left;
    margin: 0px;
    padding: 0px;
    }

#rightbox {
    background: transparent;
    width: 510px;
    float: right;
    margin: 0px;
    padding: 0px;
    }

#centerbox {
    background: transparent;
    width: 400px;
    margin: auto;
    padding: 0px;
    }

#centerbox.authenticate {
    padding: 40px;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-border-radius : 0.4em;
    border: #EEEEEE solid 0.2em;
    }

/* @end */

/* @group Lists */

#content ul {
    background: transparent;
    color: #333333;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    list-style-position: inside;
    }

#content ul li {
    background: transparent;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin: 0px;
    padding: 5px;
    }

/* @end */

/* @group Project */

a.newprojectbox, a.acceptinvitationbox, a.projectbox {
    background: #FFFFFF;
    color: #333333;
    width: 163px;
    height: 80px;
    display: block;
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-border-radius : 0.4em;
    border: #DDDDDD solid 1px;
    text-decoration: none;
    }

a.newprojectbox, a.acceptinvitationbox {
    background: #FFFFFF url(../../images/backgrounds/new-project-listing.png) top center repeat-x;
    color: #008E29;
    font-size: 0.75em;
    font-weight: bold;
    }

a.projectbox {
    background: #FFFFFF url(../../images/backgrounds/project-listing.png) top center repeat-x;
    font-size: 0.65em;
    }

a.newprojectbox:hover, a.acceptinvitationbox:hover {
    background-position: 0px -150px;
    color: #333333;
    text-decoration: none;
    }
a.projectbox:hover {
    background-position: 0px -150px;
    color: #333333;
    text-decoration: none;
    }

a.projectbox:hover span {
    text-decoration: underline;
    }

span.projectplus {
    background: transparent url(../../images/backgrounds/round_plus_icon_48.png) top left no-repeat;
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
    top: -35px;
    left: -35px;
    z-index: -10;
    }

span.new_project_title, span.accept_project_title  {
    display: block;
    text-align: center;
    position: relative;
    bottom: 20px;
    }

span.project_title  {
    display: block;
    text-align: center;
    position: relative;
    top: 10px;
    }

/* @end */

/* @group Default */

/* @group Messages */

div.error, div.ok  { 
    width: 700px;
    min-height:32px;
    margin: auto;
    padding: 10px;
    padding-left: 40px;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-border-radius : 0.4em;
    }

div.error {
    background: #FEFEFE url(../../images/backgrounds/erroricon.png) top left no-repeat;
    border: #E61913 solid 0.2em;
    }

div.ok {
    background: #FEFEFE url(../../images/backgrounds/okicon.png) top left no-repeat;
    border: #1CA10E solid 0.2em;
    }

#content div.error p, #content div.ok p  {
    padding-top: 10px;
    }

div.widget_status {
    width: 300px;
    margin: auto;
    }

label.error {
    float:none;
    display:inline;
    color: #E61913;
    }

/* @end */

/* @group Forms */

#content form {
    margin: 0px;
    padding: 0px;
    border: none;
    }

#content form .inputwrapper {
    width: auto;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    }

#content label {
    background: transparent;
    color: #333333;
    display: block;
    float: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
    }

#content .inputwrapper400 label, #content .inputwrapper410 label, #content .inputwrapper510 label  {
    width: 138px;
    }

#content input[type=text], #content input[type=password] {
    background: transparent;
    color: #333333;
    float: right;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin: 0px;
    padding: 10px;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-border-radius : 0.4em;
    border: #DDDDDD solid 1px;
    }

#content .inputwrapper400 input[type=text], #content .inputwrapper400 input[type=password] {
    width: 220px;
    }

#content .inputwrapper410 input[type=text], #content .inputwrapper410 input[type=password] {
    width: 230px;
    }


#content .inputwrapper410 span {
    background: transparent;
    color: #333333;
    width: 232px;
    float: right;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin: 0px;
    padding: 10px;
    }

#content .inputwrapper510 input[type=text], #content .inputwrapper510 input[type=password] {
    width: 330px;
    }

#content input:hover, #content input:focus, #content textarea:hover, #content textarea:focus {
    background: #EEEEEE;
    color: #333333;
    }

#content input[type=submit], #content input[type=button] {
    background: #333333;
    color: #FFFFFF;
    width: auto;
    float: right;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    margin: 0px;
    padding: 10px;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-border-radius : 0.4em;
    border: none;
    cursor: pointer;
    }

#content input[type=submit]:hover, #content input[type=button]:hover {
    background: #008E29;
    color: #FFFFFF;
    }

#content textarea {
    background: transparent;
    color: #333333;
    float: right;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    margin: 0px;
    padding: 10px;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-border-radius : 0.4em;
    border: #DDDDDD solid 1px;
    }

#content .inputwrapper410 textarea {
    width: 230px;
    }

#content p.textarea {
    vertical-align: top;
    }

/* @end */

/* @group Unchanged */

/* @group Random */

#useredit {
    color: #fffeff;
    font-weight: bold;
    float: right;
    margin-top: 10px;
    padding-right: 15px;
    }


div#fullpage_overlay {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color:#777;
    display: none;
    z-index: 3998; /* jquery window has z-index 2000 */
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    }

/* @group javascript popup messages */
div#message {
    position:absolute;
    left:0;
    margin-top: 20px;
    width: 500px;
    height: 100px;
    display: none;
    z-index: 3999;
    border:2px solid #b9b9b9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    }

div#message.ok {
    background: #1CA10E;
    }

div#message.error {
    background:#E61913;
    }

/* @end */ 

/* @group Desktop debug messages */

#debug_widget_messages {
    padding: 5px;    
    }

#debug_widget_messages p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 3px;
    }

#debug_widget_messages .debug_timestamp {
    font-size: 10pt;
    }

/* @end */

/* @end */

/* @group desktop remote */

#desktop_remote_wrapper {
    background: transparent;
    width: 45px;
    height: 80px;
    z-index: 5000;
    top: 230px;
    left: 0px;
    position: fixed;
    margin: 0px;
    padding: 0px;
    }

#desktop_remote_wrapper span.donotdisplay {
    display: none;
    }

#desktop_remote {
    background: transparent;
    width: 45px;
    margin: auto;
    padding: 0px;
    }

#desktop_remote span.dektop_remote_object {
    background: transparent;
    width: 45px;
    height: 35px;
    display: block;
    margin: 0px;
    margin-left: -30px;
    padding: 0px;
    cursor: pointer;
    }

#desktop_remote span.dektop_remote_object:hover {
    margin-left: 0px;
    }

#desktop_remote span#single_up {
    background: url(../../images/backgrounds/single_up.png) top left no-repeat;
    }

#desktop_remote span#single_down {
    background: url(../../images/backgrounds/single_down.png) top left no-repeat;
    }

#desktop_remote span#double_up {
    background: url(../../images/backgrounds/double_up.png) top left no-repeat;
    margin-top: 10px;
    }

#desktop_remote span#double_down {
    background: url(../../images/backgrounds/double_down.png) top left no-repeat;
    margin-top: 10px;
    }

#desktop_remote span#single_up:hover, #desktop_remote span#single_down:hover, #desktop_remote span#double_up:hover, #desktop_remote span#double_down:hover {
    background-position: 0px -35px;
    }

/* @end */