/* @override 
	http://localhost/~Geekie/OPP/webbklient/default/css/style.css
	http://localhost/~Geekie/OPP/webbklient/css/default/style.css
*/

/* @group Default */
body {
	margin: 0px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a img {
	border: 0;
}
span.topbuttons {
	float: right;
	padding: 7px;	
}

span.sitetitle {
    float:left;
    color:#fafafa;
    font-size:18pt;
    font-weight:bold;    
    padding: 7px;
}

h1 {
    font-size:16pt;
}

h2, h3 {
    font-size:14pt;
}

h3 {
    font-size:12pt; 
    font-weight:bold;
}

h1.blackheader {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color: #000;
	color: #FFF;
	width: 920px;
	margin-left: auto;
	margin-right:auto;
	font-size: 1.3em;
	padding: 10px;
	margin-top:30px;
}

#content {
    padding:15px;    
}

#topbar {
	width: 100%;
	height: 50px;
	background-color: #000;
	margin: 0px;
	padding: 0px;
}

/* @end */

/* @group Project */

#projectlisting {
	margin-left: auto;
	margin-right: auto;
	width: 870px;
	height: 200px;
}

.newprojectbox {
	padding: 5px;
	height: 84px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom: 25px;
	width: 180px;
	background: url(../../images/backgrounds/new-project-listing-background.png) repeat-x;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.9em;
	padding-top:10px;
	color: #000;
	text-decoration: none;
}

img.projectplus {
	position: relative;
	bottom: 28px;
	right: 52px;
}

b.new_project_title {
	position: relative;
	right: 25px;
	bottom: 7px;
}

.projectbox {
	padding: 5px;
	height: 84px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom: 25px;
	width: 180px;
	background: url(../../images/backgrounds/project-listing-background.png) repeat-x;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.9em;
	padding-top:10px;
}

/* @end */

