
/* topbar with textinput*/
.browserTopBar {
    height:40px;
    background-color:#ebebeb;
    line-height: 25px;
    border-bottom: 2px solid #b9b9b9;
}

/* content holder for topbar */
.browserInnerContent {
    padding-top: 10px;
    padding-left: 20px;
}


