

.wiki_content {
    padding:15px;
    font-size:11pt;
}

.wiki_left_bar {
    width:125px;
    float:left;
    border-right:2px solid #e5e5e5;
}

.wiki_logo {
    background: url(img/wiki-logo.png) no-repeat;
    width:96px;
    height:96px;
}

.wiki_left_bar ul {
    padding:0;
    margin:0px 0px 0px 15px;
}

wiki_left_bar ul {
    padding:0px 0px 0px 5px;
    margin:0;    
}

.wiki_main_content {
    float:left;
    padding-left:10px;
}


.wiki_subtitle {
    border-bottom:1px solid #e5e5e5;
    font-weight:bold;
    display:block;
    margin-bottom:10px;
}