<?xml version="1.0"?>
<settings>
	<about>test</about>
	<version>1.0</version>
	<link>none</link>
	<author>Fredrik Johansson</author>
	<icon/>
    <icon_title>test</icon_title>
    <icon_startfunction></icon_startfunction>
	<load>
        <file type="javascript">js/test_widget.js</file>
    </load>
</settings>