<?xml version="1.0"?>
<!-- root -->
<settings>
    <!--  short description of the widget -->
	<about>A widget to handle all of the other widgets.</about>
    <!-- version of widget-->
	<version>1.0</version>
    <!-- link to website -->
	<link>none</link>
    <!-- name of author -->
	<author>Michelle Sanver</author>
    <!-- icon to widget relative to main widget folder (can be left empty and a generic icon will be loaded) -->
	<icon>settings-icon.png</icon>
    <!-- title of widget; will be placed under icon (can be left empty) -->
    <icon_title>Widget Handler</icon_title>
    <!-- namespace of widget (namespace = javascript object) -->
    <widget_object>widget_handler</widget_object>
    <!-- allow multiple instances (yes or no) -->
    <allow_multiple>no</allow_multiple>
    <!-- optional setting; Minimum role for this widget. Defaults to NULL (=Member) -->
    <minimum_role>Admin</minimum_role>
    <!-- allow multiple instances (yes or no) -->
    <allow_multiple>no</allow_multiple>
    <!--
        list of files to be loaded relative to main folder of widgets
        (theese files will be loaded upon project start)
        
        valid types are; javascript, css
    -->
	<load>
        <file type="javascript">js/widgethandler.js</file>
        <file type="css">css/widgethandler.css</file>
    </load>
</settings>