#chat_chatwrapper {
    background: #FFFFFF url('../graphic/bg_chatwrapper.png') top left repeat-x;
    color: #000000;
    width: 1950px;
    font-family: Helvetiva, Arial, Verdana, san-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    }

.chat_chatpage {
    background: transparent;
    color: #000000;
    width: 650px;
    float: left;
    margin: 0px;
    padding: 0px;
    }

#chat_leftcolumn {
    background: transparent;
    color: #000000;
    width: 60%;
    float: left;
    margin: 0px;
    padding: 0px;
    }

#chat_windowwrapper {
    background: #EEEEEE;
    color: #000000;
    width: auto;
    height: 250px;
    margin: 10px;
    padding: 10px;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    -webkit-border-radius : 0.8em;
    border: #333333 solid 2px;
    }

#chat_window {
    background: transparent;
    color: #000000;
    width: auto;
    height: 250px;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    }

.chat_itemwrapper {
    background: transparent;
    color: #000000;
    width: auto;
    margin: 0px;
    padding: 0px;
    border-bottom: #CCCCCC solid 1px;
    }

.chat_itemwrapper p {
    background: transparent;
    color: #000000;
    font-family: Arial, Helvetiva, Verdana, san-serif;
    margin: 0px;
    padding: 5px;
    }

.chat_itemwrapper p span.user {
    color: #333333;
    font-size: 0.65em;
    }

.chat_itemwrapper p span.datetime {
    color: #FF6600;
    font-size: 0.65em;
    }

.chat_itemwrapper p span.message {
    display: block;
    font-size: 0.75em;
    line-height: 1.5em;
    }

#chat_rightcolumn {
    background: transparent;
    color: #000000;
    width: 38%;
    float: right;
    margin: 0px;
    padding: 0px;
    }

#chat_rightcolumn h3 {
    background: transparent;
    color: #333333;
    font-family: Helvetiva, Arial, Verdana, san-serif;
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
    }

#chat_previousdiscussionswrapper {
    background: #FFFFFF;
    color: #000000;
    width: auto;
    margin: 0px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    -webkit-border-radius : 0.8em;
    border: #333333 solid 2px;
    }

#chat_previousdiscussionswrapper form {
    background: transparent;
    color: #000000;
    width: auto;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    }

#chat_newdiscussionswrapper {
    background: #FFFFFF;
    color: #000000;
    width: auto;
    margin: 0px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    -webkit-border-radius : 0.8em;
    border: #333333 solid 2px;
    }

#chat_newdiscussionswrapper form {
    background: transparent;
    color: #000000;
    width: auto;
    margin: 0px;
    padding: 0px;
    }

#chat_createnewdiscussionsbutton {
    background: #333333;
    color: #FFFFFF;
    font-family: Arial, Helvetiva, Verdana, san-serif;
    font-size: 0.75em;
    width: auto;
    margin: 0px;
    padding: 6px;
    border: #666666 solid 1px;
    }

#chat_projectmemberswrapper {
    background: #FFFFFF;
    color: #000000;
    width: auto;
    margin: 0px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    -webkit-border-radius : 0.8em;
    border: #333333 solid 2px;
    }

#chat_projectmemberswrapper ul {
    background: transparent;
    color: #99CCFF;
    width: auto;
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
    }

#chat_projectmemberswrapper ul li {
    background: transparent;
    color: #99CCFF;
    width: auto;
    font-family: Arial, Helvetiva, Verdana, san-serif;
    font-size: 0.65em;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    }

#chat_projectmemberswrapper ul li span {
    background: transparent;
    color: #333333;
    }

#chat_footer {
    background: transparent;
    color: #000000;
    width: 100%;
    clear: both;
    margin: 0px;
    padding: 0px;
    }

#chat_postitemwrapper {
    background: #FFFFFF;
    color: #000000;
    width: auto;
    margin: 10px;
    padding: 10px;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    -webkit-border-radius : 0.8em;
    border: #333333 solid 2px;
    }

#chat_postitemwrapper form {
    background: transparent;
    color: #000000;
    width: auto;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    }

#postchatitem {
    background: #FFFFFF;
    color: #000000;
    font-family: Arial, Helvetiva, Verdana, san-serif;
    font-size: 0.75em;
    width: 70%;
    float: left;
    padding: 5px;
    border: #CCCCCC solid 1px;
    }

#chat_postitembutton {
    background: #333333;
    color: #FFFFFF;
    font-family: Arial, Helvetiva, Verdana, san-serif;
    font-size: 0.75em;
    width: 20%;
    float: right;
    margin: 0px;
    padding: 6px;
    border: #666666 solid 1px;
    }

#chat_clearpostitemwrapper {
    background: transparent;
    height: 0px;
    clear: both;
    margin: 0px;
    padding: 0px;
    }

#chat_clearchatwrapper {
    background: transparent;
    height: 0px;
    clear: left;
    margin: 0px;
    padding: 0px;
    }