<?xml version="1.0"?>
<settings>
	<about>A simple browser</about>
	<version>1.0</version>
	<link>none</link>
	<author>Fredrik Johansson</author>
	<icon>internet-browser-icon.png</icon>
    <icon_title>Simple browser</icon_title>
    <icon_startfunction>openBrowser</icon_startfunction>
	<load>
		<file type="javascript">js/widget-browser.js</file>
        <file type="javascript">js/window/jquery.window.js</file>
        <file type="css">js/window/css/jquery.window.css</file>
	</load>
</settings>